@media screen and (min-width: 961px) {
  .sidebar {
    position: absolute;
    left: 0;
    top: 60px;
    width: 250px;
    height: 100%;
    padding: 40px 0 0;
    border-right: 1px solid #bebcc1;
    margin: 0;
    overflow-y: auto;
  }
}

@media screen and (max-width: 960px) {
  .sidebar {
    display: none;
  }
}
