.select {
  width: 100%;
  padding: 5px 10px 5px;
  outline: none;
}

.select:focus {
  outline: none;
  border: 1px solid #6389df;
}

.select__option {
  border-bottom: 1px solid #bebcc1;
}

.select__option:last-child {
  border: none;
}
