@media screen and (min-width: 961px) {
  .table-header {
    display: table-row;
    border-bottom: 1px solid #bebcc1;
  }

  .table-header__cell {
    display: table-cell;
    padding: 10px 30px;
    text-align: center;
    font-weight: bold;
  }
}

@media screen and (max-width: 960px){
  .table-header  {
    display: none;
  }
}
