.admin-specialties-content {
  max-width: 1000px;
  margin: 0 auto 32px;
}

.admin-specialties-list {
  width: 100%;
  margin-top: 40px;
}

.admin-specialties-content__heading {
  text-align: center;
}

@media screen and (min-width: 961px) {
  .admin-specialties-content {
    width: 60%;
  }

  .admin-specialties-content__heading {
    font-size: 1.5rem;
  }

  .admin-specialties-list {
    display: table;
    border-collapse: collapse;
  }
}

@media screen and (max-width: 960px) {
  .admin-specialties-content {
    width: 90%;
  }

  .admin-specialties-content__heading {
    font-size: 1.3rem;
  }
}
