.answer {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #6389df;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
}

.answer_selected {
  background: #6389df;
  color: #fff;
  font-weight: bold;
}
