.nav-link,
.nav-link:active,
.nav-link:visited {
  display: block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  color: #6389df;
}

.nav-link:hover {
  text-decoration: underline;
}
