@media screen and (min-width: 961px) {
  .tabs {
    float: right;
    width: 20%;
    min-width: 300px;
    margin-left: 5%;
  }
}

@media screen and (max-width: 960px) {
  .tabs {
    float: none;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 30px;
  }
}

.tabs__tab-panel {
  width: 100%;
  margin-bottom: 20px;
}
