.admin-tests-content {
  max-width: 1300px;
  margin: 0 auto 32px;
}

.admin-tests-content__heading {
  margin-bottom: 40px;
  text-align: center;
}

.admin-tests-content__specialties-list {
  padding: 0;
  margin: 0;
}

.admin-tests-list {
  width: 100%;
  margin-top: 20px;
}

@media screen and (min-width: 961px) {
  .admin-tests-content {
    width: 80%;
  }

  .admin-tests-content__heading {
    font-size: 1.5rem;
  }

  .admin-tests-list {
    display: table;
    border-collapse: collapse;
  }
}

@media screen and (max-width: 960px) {
  .admin-tests-content {
    width: 90%;
  }

  .admin-tests-content__heading {
    font-size: 1.3rem;
  }

  .admin-tests-list {
    display: block;
  }
}
