.candidate-tests-content {
  max-width: 1300px;
  margin: 0 auto;
}

.candidate-tests-content__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.candidate-tests-content__specialty-name {
  margin: 10px 0 20px;
}

.candidate-tests-content__button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.candidate-tests-list {
  width: 100%;
  margin-top: 20px;
}

@media screen and (min-width: 961px) {
  .candidate-tests-content {
    width: 80%;
  }

  .candidate-tests-content__heading {
    font-size: 1.3rem;
  }

  .candidate-tests-content__specialty-description {
    width: 60%;
  }

  .candidate-tests-list {
    display: table;
    border-collapse: collapse;
  }
}

@media screen and (max-width: 960px) {
  .candidate-tests-content {
    width: 90%;
  }

  .candidate-tests-content__header {
    flex-direction: column;
    align-items: center;
  }

  .candidate-tests-content__button-container {
    margin-top: 16px;
  }

  .candidate-tests-content__heading {
    font-size: 1rem;
  }

  .candidate-tests-content__specialty-name {
    font-size: 1.5rem;
  }

  .candidate-tests-content__specialty-description {
    width: 100%;
  }

  .candidate-tests-list {
    display: block;
  }
}
