.specialty {
  border: 1px solid #a3ccf4;
  border-radius: 10px;
  box-shadow: 0 5px 7px #888;
  cursor: pointer;
}

.specialty__name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.specialty__tests-count {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 961px) {
  .specialty {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 960px) {
  .specialty {
    padding: 20px 15px;
  }
}
