.admin-question-content {
  max-width: 1000px;
  margin: 0 auto 40px;
  text-align: center;
}

.admin-question-content__sidebar-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.admin-question-content__question-number {
  font-weight: bold;
  margin-top: 20px;
}

.admin-question-content__score-rest {
  margin-top: 20px;
  text-align: right;
}

.admin-question-content__buttons-container {
  display: flex;
}

@media screen and (min-width: 961px) {
  .admin-question-content {
    width: 50%;
  }

  .admin-question-content__title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 960px) {
  .admin-question-content {
    width: 90%;
  }

  .admin-question-content__title {
    font-size: 1.3rem;
  }
}
