.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.footer__link {
  text-decoration: none;
  color: #1f2b6c;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__link:visited {
  color: #1f2b6c;
}

@media screen and (min-width: 961px) {
  .footer {
    padding: 0 10% 20px;
  }
}

@media screen and (max-width: 960px) {
  .footer {
    padding: 0 5% 20px;
  }
}
