.menu {
  padding: 0;
  margin: 0;
  background: #a3ccf4;
}

.menu__link {
  text-decoration: none;
  color: #1f2b6c;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__link:visited {
  color: #1f2b6c;
}

@media screen and (min-width: 961px) {
  .menu__item {
    display: inline-block;
    margin-right: 30px;
  }

  .menu__item:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 960px) {
  .menu {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    display: none;
  }

  .menu_visible {
    display: block;
  }

  .menu__item {
    display: block;
    border-bottom: 1px solid #81a6cd;
    margin: 0;
    text-align: center;
  }

  .menu__item:last-child {
    border-bottom: none;
  }

  .menu__link {
    display: block;
    padding: 15px 0;
  }
}
