.multiselect {
  margin-bottom: 30px;
  overflow-y: auto;
  outline: none;
}

.multiselect:focus {
  outline: none;
  border: 1px solid #6389df;
}

.multiselect_size_full-width {
  width: 100%;
}

.multiselect__option {
  padding: 5px 10px 5px;
  border-bottom: 1px solid #bebcc1;
}

.multiselect__option:last-child {
  border: none;
}

.multiselect__option:checked {
  background: #a3ccf4;
  color: #000;
}
