@media screen and (min-width: 961px) {
  .entity-item {
    display: table-cell;
    padding: 10px 30px;
    text-align: center;
  }

  .entity-item_text-align_left {
    text-align: left;
  }

  .entity-item_text-align_center {
    text-align: center;
  }

  .entity-item__description {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .entity-item {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    text-align: left;
  }

  .entity-item:last-child {
    margin-bottom: 0;
  }

  .entity-item__description {
    display: inline;
  }
}
