.entity {
  border-radius: 10px;
  cursor: pointer;
}

.entity__link {
  color: black;
  text-decoration: none;
}

.entity__link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 961px) {
  .entity {
    display: table-row;
    border-bottom: 1px solid #bebcc1;
  }

  .entity:last-child {
    border-bottom: none;
  }

  .entity__item-description {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .entity {
    display: block;
    padding: 20px 15px;
    border: 1px solid #a3ccf4;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 7px #888;
  }
}
