.button {
  display: block;
  min-width: 250px;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  background: #a3ccf4;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background: #81a6cd;
}

.button:focus {
  outline: none;
}

.button_size_full-width {
  width: 100%;
}

.button_size_middle {
  width: 40%;
  min-width: 50px;
}

.button_center {
  margin: 0 auto;
}
