.login-content {
  margin: 0 auto 120px;
}

.login-content__site-description {
  overflow: hidden;
  text-align: justify;
}

.login-content__image {
  width: 100%;
  max-width: 960px;
  margin: 20px auto;
}

.login-content__problem {
  list-style-image: url("images/minus.svg");
}

.login-content__decision {
  list-style-image: url("images/plus.svg");
}

@media screen and (min-width: 961px) {
  .login-content {
    width: 80%;
  }

  .login-content__image {
    display: block;
  }

  .login-content_problems-list {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .login-content {
    width: 90%;
  }

  .login-content__image {
    display: none;
  }

  .login-content_problems-list {
    display: block;
  }
}


