.tab {
  display: inline-block;
  width: 50%;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  color: #888;
  cursor: pointer;
  transition: color .2s;
}

.tab:hover {
  color: #000;
}

.tab_active {
  color: #000;
  border-bottom: 5px solid #a3ccf4;
  cursor: default;
}
