.burger {
  display: none;
}

.burger__strip {
  width: 36px;
  height: 3px;
  background: #1f2b6c;
  margin: 5px 0;
  transition: .3s;
}

.burger_changed .burger__strip_position_top {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.burger_changed .burger__strip {
  transform: rotate(-45deg) translate(-6px, 4px);
}

.burger_changed .burger__strip_position_bottom {
  transform: rotate(45deg) translate(-6px, -6px);
}

.burger_changed .burger__strip_position_middle {
  opacity: 0;
}

@media screen and (max-width: 960px) {
  .burger {
    display: block;
    margin-right: 10%;
    cursor: pointer;
  }
}
