.text-input {
  display: block;
  padding: 4px 10px 0;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #bebcc1;
  resize: none;
  transition: .2s;
}

.text-input:focus {
  outline: none;
  border-bottom-color: #6389df;
}

.text-input[type="date"] {
  padding-top: 0;
}

.text-input_size_full-width {
  width: 100%;
}

.text-input_size_small {
  width: 20%;
  min-width: 100px;
}

textarea.text-input {
  height: 150px;
}
