.specialty-form {
  border: 1px solid #a3ccf4;
  border-radius: 10px;
  box-shadow: 0 5px 7px #888;
  margin-top: 40px;
}

@media screen and (min-width: 961px) {
  .specialty-form {
    padding: 30px;
  }
}

@media screen and (max-width: 960px) {
  .specialty-form {
    padding: 20px 15px;
  }
}
