.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 40px;
  background: #a3ccf4;
  box-shadow: #000 0 0 10px;
}

.header__logo {
  display: block;
  width: 100px;
}

.header__info {
  display: flex;
  color: #1f2b6c;
}

@media screen and (min-width: 961px) {
  .header__logo {
    margin-left: 10%;
  }

  .header__info {
    margin-right: 10%;
  }
}

@media screen and (max-width: 960px) {
  .header {
    justify-content: flex-end;
  }

  .header__logo {
    display: none;
  }

  .header__info {
    margin-right: 5%;
  }
}
