.specialty-choice-content {
  max-width: 1300px;
  margin: 0 auto;
}

.specialty-choice-content__specialties {
  display: grid;
  grid-gap: 30px;
  margin-bottom: 40px;
}

.specialty-choice-content__heading {
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 961px) {
  .specialty-choice-content {
    width: 80%;
  }

  .specialty-choice-content__specialties {
    grid-template-columns: repeat(3, 1fr);
  }

  .specialty-choice-content__heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .specialty-choice-content {
    width: 90%;
    margin: 0 auto;
  }

  .specialty-choice-content__specialties {
    grid-template-columns: 1fr;
  }

  .specialty-choice-content__heading {
    font-size: 1.75rem;
  }
}
