.forbidden-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forbidden-page__code {
    margin-bottom: 10px;
    color: #81a6cd;
    font-size: 128px;
}

.forbidden-page__message {
    text-align: center;
    font-size: 32px;
    max-width: 370px;
    margin-bottom: 24px;
}