.question-form {
  margin-bottom: 40px;
}

.question-form__footer {
  display: flex;
}

.question-form__number-input {
  display: flex;
  padding-left: 10px;
}

.question-form__label {
  margin-right: 10px;
  color: #666;
}

.question-form__answer {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 961px) {
  .question-form__text-input-container {
    width: 70%;
  }

  .question-form__select-container {
    width: 25%;
  }
}

@media screen and (max-width: 960px) {
  .question-form__answer {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .question-form__text-input-container {
    width: 100%;
  }

  .question-form__select-container {
    width: 100%;
  }
}
