.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sidebar-item_selected,
.sidebar-item:hover {
  border: none;
  background: #a3ccf4;
}
