.test-form {
  border: 1px solid #a3ccf4;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 7px #888;
}

.test-form__number-input {
  display: flex;
  padding-left: 10px;
}

.test-form__label {
  margin-right: 10px;
  color: #666;
}

.test-form__label_with-padding {
  padding-left: 10px;
}

.test-form__fields-container {
  display: flex;
}

@media screen and (min-width: 961px) {
  .test-form {
    padding: 30px;
  }

  .test-form__fields-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .test-form__column {
    width: 46%;
  }
}

@media screen and (max-width: 960px) {
  .test-form {
    padding: 20px 15px;
  }

  .test-form__fields-container {
    flex-direction: column;
  }

  .test-form__column {
    width: 100%;
  }
}
