.candidate-question-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.candidate-question-content__question-number {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.candidate-question-content__time {
  margin-top: 20px;
  text-align: right;
}

.candidate-question-content__answers {
  margin: 10px 0 50px;
}

.candidate-question-content__buttons-container {
  display: flex;
}

@media screen and (min-width: 961px) {
  .candidate-question-content {
    width: 50%;
  }

  .candidate-question-content__title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 960px) {
  .candidate-question-content {
    width: 90%;
  }

  .candidate-question-content__title {
    font-size: 1.3rem;
  }
}
